# Ignore Python virtual environments
.venv/
venv/

# Bytecode files
__pycache__/
*.py[cod]

# System files
.DS_Store
Thumbs.db

# Streamlit cloud safety
*.pdf
*.csv

# Optional: PyCharm/project files
.idea/
